
html, body {
  height: 100%;
  font-family: 'Droid Serif';
}

div, dd, a, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif';
}



.greenbkgrd h2, .sub-nav dd a {
	color: white;
	font-family: 'Raleway';
}

.whitebkgrd h2 {
	font-family: 'Raleway';
	color: rgba(159, 208, 203, 1);
}

.whitebkgrd .sub-nav dd a{
	color:black;
}

h3 {

	padding-bottom: 2%;

}

h1.subheader {
	color: white;
}

.greentext {
color: rgba(159, 208, 203, 1);
}

.greytext {
color: #737373;
}

.greenbkgrd {
	background-color: rgba(159, 208, 203, 1);
	-webkit-transition: all 0.2s ease-in-out;
   	-moz-transition: all 0.2s ease-in-out;
   	-o-transition: all 0.2s ease-in-out;
   	-ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.whitebkgrd {
	background-color: white;
}

#welcome {
	font-weight: normal;
	font-style: italic;

}

.large-4 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
p {
	font-size: 1.25em;
	line-height: 2;
}

.plarge {
	
}


.sub-nav dd {
font-size: 1.25rem;
margin-left: none;


}

.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {

}



.full-height {
	height: 1000px;
	display: flex;
}


.content {
	margin:auto;


}

.pbig {
	font-size: 1.5rem;
	line-height: 2.1;

}

.mynav{ 
	text-align: center;
	max-height: 150px;

}

.active2 {
	background-color: none;
	font-weight: bold;
}

.active2::after {
	content: "";
	position: relative;
	bottom: -15px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: rgba(159, 208, 203, 1) transparent;
	width: 0;
}

dl.sub-nav {
	display: inline-block;
}

.eyebrow {
	font-size: 1rem;
	line-height: .2;

}

a:hover {
	color: #6BC1B6;

}
/*.outer {
	display: table;
}

.vertmiddle {
	display: table-cell;
    vertical-align: middle;
}*/


footer {
	position: fixed;
	width:100%;
	height:60px;
	bottom:0px;
	vertical-align: middle;
	background-color: rgba(159, 208, 203, 1);
	
	font-family: 'Raleway';
}

.contact {
	background-color: rgba(159, 208, 203, 1);
}

footer div.row {
	margin-top: 25px;
	color: white;
}

.left{
	text-align: left;
}
.middle{
	text-align: middle;

}
.right{
	text-align: right;
}

.contact .small-12 {
	text-align: center;
}



/* green hex:9fd0cb*/