
html, body {
  height: 100%;
  font-family: 'Josefin Sans';
}

div, dd, a, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans';
}

h3 {
	text-align: center;
	padding-bottom: 2%;
}

p {
	font-size: 1.25rem;
	line-height: 2;
}

/* Not getting picked up*/
.sub-nav dt, .sub-nav dd, .sub-nav li  {
font-size: 1.25rem;
margin-left: none;
}

.full-height {
	height: 1000px;
	display: flex;
}

.content {
	margin:auto;

}

.mynav{ 
	text-align: center;
	max-height: 150px;

}

.active2 {
	background-color: none;
	font-weight: bold;
}

.active2::after {
	content: "";
	position: relative;
	bottom: -15px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: rgba(159, 208, 203, 1) transparent;
	width: 0;
}

.home {
	background-image: url('20140119_121416.jpg')
}

dl.sub-nav {
	display: inline-block;
}

/*.outer {
	display: table;
}

.vertmiddle {
	display: table-cell;
    vertical-align: middle;
}*/

footer {
	position: fixed;
	width:100%;
	height:45px;
	bottom:0px;
	background-color: rgba(159, 208, 203, .85);
	vertical-align: middle;
}
footer div.row {
	margin-top: 15px;
}

.left{
	text-align: left;
}
.middle{
	text-align: middle;

}
.right{
	text-align: right;
}

#contact {
	text-align: center;
}



/* green hex:9fd0cb*/